body{
    font-family: "Nunito";
}


/**
#navigation ul{
list-style: none;
word-spacing: 10pt;
}
#navigation li{
    display: inline;
}
**/
h1{
    font-family: "EB Garamond";
    font-weight: 500;
color:rgb(238, 112, 9) ;
}
h2,h3,h4,h5,h6{
    font-family: "EB Garamond";
    font-weight: 500;
color:rgb(88, 23, 11) ;
}



a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: yellow;
    background-size: 100%;
    background-color: none;
    padding: 1pt;
}
a:hover{
    color: aliceblue;
    background-color: brown

}
.container{
    display: flex;
}
.box-1 {
      flex: 1;
      order: 1;
      background-image: url(phh.JPG);
      opacity: 0.8;
      height: 400pt;
      background-size: cover;
      text-align: right;
      background-repeat: no-repeat;
      width: auto;
      flex-basis: 30%;
      justify-content: space-between;
      padding: 2%;

  }
.box-2 {
    flex: 1;
    order: 2;
    align-self: flex-start;
    flex-basis: 70%;
    padding: 2%;
    height: 400pt;
  }


  .button {
    text-decoration: none;
   
}
  